:root {
    --main-background-color: rgb(35, 35, 35);
    --drill-border-style: 2px solid rgb(100, 100, 100);
    --drill-background-color: rgb(70, 70, 70);
    --drill-pinned-background-color: rgb(90, 90, 90);
    --drill-secondary-background-color: rgb(55, 55, 55);
    --primary-button-color: rgb(12, 149, 161);
    --danger-color: rgb(191, 53, 74);
    --input-field-color: rgb(80, 80, 80);
    --main-text-color: white;
}

[hidden] {
  display: none !important;
}

body {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

button {
    background-color: var(--primary-button-color);
    border: none;
    text-align: center;
    color: white;
    border-radius: 4px;
    padding: 3px 15px;
    cursor: pointer;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-top: 40px;
    margin-bottom: 50px;
}

select {
    background-color: var(--input-field-color);
    color: var(--main-text-color);
    padding: 2px 10px;
    /* height: min-content; */
}

#main {
    /* for some reason the scollbar appears without this line */
    border: 2px solid transparent;
}

#drill_list_controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#drill_list_controls > div {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

@media (width < 1000px) {
    #drill_list_controls {
        flex-direction: column;
    }
}

#backup_button {
    margin-left: auto;
}

/* #add-drill-button {
    
} */

#drill_list_view {
    padding: 30px;
    max-width: 1100px;
    margin: auto;
    box-sizing: border-box;
}

#add_edit_drill_view {
    padding: 30px;
    max-width: 800px;
    margin: auto;
    /* so if a child is set to 100% it will stay within padding bounds */
    box-sizing: border-box;
}

.drill {
    /* border: var(--drill-border-style); */
    background-color: var(--drill-background-color);
    /* margin-bottom: 10px; */
}

.drill h3 {
    font-size: 20px;
    font-weight: 400;
}

/* .drill p {
    margin: 0;
} */

.drill_header {
    display: grid;
    grid-template-columns: 1fr 140px;
    border-bottom: var(--drill-border-style);
}

.drill_body {
    /* display: grid;
    grid-template-columns: 1fr 180px; */
    border-bottom: var(--drill-border-style);
}

/* .drill-header {
    border-bottom: var(--drill-border-style);
} */

.drill_header > div:first-of-type
{
    border-right: var(--drill-border-style);
}

.drill_header > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.drill_header > div {
    padding: 5px 15px
}

.drill_body {
    background-color: var(--drill-secondary-background-color);
    display: flex;
    justify-content: space-between;
}

.drill_description {
    font-weight: 300;
    margin-bottom: 15px;
}

.drill_body > div {
    padding: 15px;
}

.pinned_drill {
    background-color: var(--drill-pinned-background-color);
}

.drill_image_container {
    /* border: 2px solid lime; */
    /* width: 200px;
    height: 200px; */
    display: block;
    flex: 0 0 200px;
    /* padding: 15px; */
}

.drill_image {
    width: 100%;
    height: auto;
    display: block;
}

/* .drill-body p {
    font-weight: 300;
} */

label {
    font-size: 18px;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
}

.label_container {
    display: flex;
    align-items: center;
    /* display: inline-block; */
    white-space: nowrap;
}

.horizontal_label_input_container {
    display: flex;
}

textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
}

input, textarea {
    background-color: var(--input-field-color);
    color: var(--main-text-color);
    padding-left: 6px;
}

#input_drill_name_label {
    margin-right: 10px;
}

#input_drill_name {
    flex: 1;
    box-sizing: border-box;
}

#result_limit_label {
    margin-left: 20px;
    /* margin-right: 0px; */
}

#result_limit {
    width: 50px
}

.form > div {
    margin-bottom: 20px;
}

.form_buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

#delete_drill_button {
    margin-left: auto;
    background-color: var(--danger-color)
}

/* modal stuff */
.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box; /* width and height include padding */
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.modal {
    box-sizing: border-box;
    /* max-width: 500px;
    width: 100%; */
    display: block;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}

.modal h3 {
    margin-bottom: 20px;
}

.modal_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

#event_level_color {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 60px;
    height: 40px;
}

/* .modal-buttons button {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
} */

.expand_button {
    height: 25px;
    box-sizing: border-box;
    /* margin-left: auto; */
    cursor: pointer;
    margin-right: 10px;
}

.expand_image {
    height: 100%;
    width: auto;
}

.pin_button {
    height: 25px;
    box-sizing: border-box;
    margin-left: auto;
    cursor: pointer;
}

.pin_filled_image, .pin_hollow_image {
    height: 100%;
    width: auto;
}

.alert {
    padding: 5px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.alert_info {
    background-color: rgb(93, 131, 193);
}

.alert_danger {
    background-color: var(--danger-color);
}

.alert_close_icon {
    height: 20px;
    width: auto;
    margin-left: auto;
    cursor: pointer;
}

.event_tags,
.level_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    gap: 5px;
}

.event_tags {
    justify-content: flex-end;
}

.event_tag,
.level_tag {
    background-color: rgb(120, 120, 120);
    color: white;
    padding: 5px, 0px;
    border-radius: 15px;
    font-size: 16px;
    display: block;
    width: fit-content;
    cursor: default;
}

#form_event_buttons,
#form_level_buttons,
#event_filter_buttons,
#level_filter_buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 10px;
}

.event_button,
.level_button {
    background-color: rgb(63, 63, 63);
    color: rgb(185, 185, 185);
    padding: 5px, 0px;
    border-radius: 15px;
    font-size: 16px;
    display: block;
    height: min-content;
    /* font-weight: 700; */
}

.event_button_selected,
.level_button_selected {
    color: white;
}

.level_tags_label {
    margin-bottom: 5px;
}

.edit_button {
    background-color: rgb(38, 106, 232);
}

.filter_container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.inline_button {
    /* background-color: var(--drill-secondary-background-color); */
    background-color: rgb(0, 0, 0, 0);
    color: rgb(185, 185, 185);
    font-size: 16px;
    padding: 2px 7px;
    margin-left: 10px;
}

#add_edit_tag_modal_alert_text {
    font-size: 16px;
    color: red;
    margin-bottom: 20px;
}

#text_search_type {
    margin-left: 5px;
    padding: 3px 2px;
}

#add_edit_event_level_modal input,
#add_edit_event_level_modal select {
    margin-left: 5px;
}

#delete_tag_button {
    background-color: var(--danger-color);
}

#form_image_container {
    display: block;
    /* width: 200px; */
    flex: 0 0 200px;
    height: fit-content;
    background-color: var(--drill-secondary-background-color);
    position: relative;
}

#form_image {
    width: 100%;
    height: auto;
    display: block;
}

#form_image_empty_svg > path {
    width: 100%;
    fill: var(--main-background-color)
}

.form_events_levels_image_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
}

#form_image_buttons {
    margin-top: 10px;
    position: absolute;
    bottom: 0px;
    /* border: 2px solid lime; */
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.form_image_buttons_show {
    opacity: 1;
    transition: opacity 0.3s ease;
}

#form_image_container:hover #form_image_buttons {
    opacity: 1;
    transition: opacity 0.3s ease;
    /* pointer-events: auto; */
}

#form_image_buttons button {
    background-color: rgb(230, 230, 230);
    color: black;
    padding: 2px 10px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px;
}


/* generic classes */
.border {
    border: 2px solid lime;
}

.border_2 {
    border: 2px solid rgb(52, 56, 255);
}

.centered {
    display: flex;
    align-items: center;
}

.margin_bottom_1 {
    margin-bottom: 10px;
}

.margin_bottom_2 {
    margin-bottom: 20px;
}

.margin_left_5 {
    margin-left: 5px;
}